@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

div#sidebar {
    background-color: black;
    transition: 400ms ease;
}

ul > li {
    font-size: 15px;
    letter-spacing: 4px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

ul > li:hover {
    background-color: rgb(116, 107, 107);
    transition: 300ms ease;
}